@import './buttons';
@import './colors';
@import './font';
@import './lists';
@import './responsive_utils';
@import './components/index';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
